/* Reset styles */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
/* Global styles */
html {
  font-size: 20px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 40px;
}

/* Variables */
@keyframes errorMsg {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes heroScale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Intro section */
.intro {
  width: 100%;
}

.intro__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  margin: 80px auto;
  text-align: center;
  animation: opacity 1000ms ease-in;
}

.intro__logo {
  background: url("../../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-size: 3.98rem;
  width: 86px;
  padding-top: 1.4rem;
}

.intro__heading {
  color: #969696;
  font-weight: 300;
  font-size: 2.2rem;
  margin: 40px 0 14px 0;
}

.intro__heading span {
  color: #151f29;
  font-weight: 700;
}

.intro__subheading {
  font-size: 0.915rem;
  color: #151f29;
}

.intro__form {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 36px 0 82px 0;
}

.intro__form.active .intro__error {
  visibility: visible;
  height: 20px;
  animation: errorMsg 500ms forwards;
}

.intro__form.active .intro__input {
  border: 1px solid #ff5263;
  box-shadow: 0 0 6px -1px #ff5263;
}

.intro__input {
  height: 51px;
  border-radius: 40px;
  border: 1px solid #c2d3ff;
  width: 100%;
  padding: 0 0 0 28px;
  min-width: 280px;
  animation: slideLeft 1000ms forwards;
  transition: border 250ms ease-in, box-shadow 250ms ease-in;
}

.intro__input::placeholder {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.725rem;
  color: #c2d3ff;
}

.intro__input:invalid {
  box-shadow: none;
}

.intro__error {
  position: absolute;
  visibility: hidden;
  font-size: 0.7rem;
  color: #ff5263;
  top: 52px;
  left: 28px;
  padding: 10px 0 0 0;
  height: 0;
  transition: height 250ms ease-in;
}

.intro__cta {
  max-width: 181px;
  width: 100%;
  height: 51px;
  border-radius: 40px;
  border: none;
  font-size: 0.725rem;
  font-weight: 600;
  color: #fff;
  background: #4f7df3;
  margin-left: 15px;
  letter-spacing: -0.015rem;
  cursor: pointer;
  box-shadow: 0px 0px 16px 3px #c2d3ff;
  animation: slideRight 1000ms forwards;
  transition: background 250ms ease-in;
}

.intro__cta:hover {
  background: #7ea0f6;
}

.intro__hero {
  background: url("../../assets/img/illustration-dashboard.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 64%;
  animation: heroScale 1000ms forwards;
}

.intro__socials {
  display: flex;
  flex-flow: row;
  margin: 43px 0 22px 0;
}

.intro__socials * + * {
  margin-left: 10px;
}

.intro__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  color: #4f7df3;
  text-decoration: none;
  font-size: 0.7rem;
  transition: background 250ms ease-in, border 250ms ease-in, color 300ms ease-in, transform 250ms ease-in;
}

.intro__link:hover {
  background: #4f7df3;
  border: 1px solid #4f7df3;
  color: #fff;
  transform: scale(1.15);
}

.intro__copy {
  font-size: 0.55rem;
  color: #969696;
}

/* Media queries */
@media (max-width: 480px) {
  .intro__heading {
    font-size: 1.3rem;
  }
  .intro__subheading {
    font-size: 0.715rem;
  }
  .intro__form {
    flex-flow: column;
  }
  .intro__form.active .intro__error {
    margin: 10px 0 20px 0;
    animation: errorMsg 500ms forwards;
  }
  .intro__input {
    min-width: auto;
  }
  .intro__error {
    padding: 0;
    position: initial;
  }
  .intro__cta {
    max-width: 100%;
    margin: 10px 0 0 0;
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #c2d3ff;
  font-size: 0.7rem;
}

.footer__attribution {
  text-align: center;
}

.footer a {
  color: #6b6c6e;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.footer a:hover {
  text-decoration: underline;
  color: #4f7df3;
}
/*# sourceMappingURL=main.css.map */